.nofriend-container {
    display: block;
}

.nofriend-row1{
    display: flex;
    margin-left: 100px;
    margin-top: 150px;
    width: max-content;
}

.nofriend-row2{
    margin-left: 500px;
}

.nofriend-h2 {
    margin-left: 40px;
    font-size: xx-large;
    margin-top: 50px;
    font-weight: bolder;
}

.nofriend-button{
    font-size: large;
    padding: 12px;
    border-radius: 8px;
    font-weight: bolder;
}