.AdminUsers-List {
  margin-top: 50px;
  border-top: 1px solid lightgrey;
  padding-top: 2vh;
}

.AdminUsers-Item {
  margin-top: 0.5vh;
  font-size: x-large;
  border-bottom: 1px solid lightgrey;
}

.AdminUser-Edit-Button {
  width: 3vw;
  margin-left: 0.5vw;
}

.AdminUsers-TableCell {
  text-align: center;
  margin-top: 50px;
  vertical-align: middle;
}

.AdminUsers-TableCell img {
  width: 10rem;
  margin-top: 0;
}

.AdminUsers-DropdownButton {
  margin-left: 0.3vw;
}

.AdminUsers-tr {
  text-align: center;
  vertical-align: middle;
}
