.homeMessage {
    background-color: white;
}

.chatWindow {
    height: 1080px;
    background: white;
    margin: auto;
    padding: 10px;
}

.chatSideList {
    width: 30%;
    height: 100%;
    background: white;
    margin-top: 5px;
    float: left;
}

.chatContentPage{
    margin-left: 30%;
    height: 100%;
    background: lightgrey;
}

.MessagePage-Container{
    margin-top: 50px;
}