.chooseAvatar-submit {
    margin-left: 41%;
    width: 75px;
}

.chooseAvatar-pagination {
    margin-top: 20px;
    font-size: x-small;
    margin-left: 45px;
}

.chooseAvatar-row {
    margin-left: 25px;
}

.chooseAvatar-pic:hover {
    border: 4px solid lightblue;
    border-radius: 12px;
}

.chooseAvatar-pic:focus-visible {
    border: 4px solid lightblue;
    border-radius: 12px;
}

