.BigProfilecard-picRow {
    text-align: center;
    margin: 3rem auto;
}

.BigProfileCard-Title {
    text-align: center;
    margin-left: auto;
    font-size: large;
}

.BigProfilecard-image{
    margin-left: 34%;
    height: 150px;
    margin-top: -4%;
}

.BigProfilecard-listRow {
    text-align: center;
}

.BigProfileCard-Header {
    text-align: center;
}

.BigProfileCard-RequestButton {
    height: 45px;
    font-size: large;
}
.BigProfilecard-listgroup {
    font-size: large;
    margin: auto;
}