.matchposting-title {
    text-align: center;
    margin: 3rem auto;
    font-family: Roboto, Oxygen;
}

.matchposting-carddeck {
    margin-top: 2rem;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

#match-posting {
    text-align: center;
    vertical-align: middle;
}

.BigProfilecard-pic {
    margin-top: 2vh;
}

.matchposting-cardRow{
    align-items: center;
    margin: auto;
}